<!DOCTYPE html>
{% load sass_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% sass_src 'css/search.scss' %}">


</head>
<body>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="{% url 'index' %}">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Forms
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Pages
                    </span>
                </a>
               
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Graphs and Statistics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                       Quotes
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                   <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                    <i class="fa fa-search fa-2x"></i>
                    <span class="nav-text">
                        Search
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                   <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>
        </ul>

        <ul class="signup">
            <li>
               <a href="{% url 'signup' %}">
                     <i class="fa fa-sign-in fa-2x"></i>
                    <span class="nav-text">
                        Sign Up
                    </span>
                </a>
            </li>  
        </ul>

        <ul class="login">
            <li>
               <a href="{% url 'index' %}">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Login
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    <main id="container">
        <div class="search">
            <form action="{% url 'search' %}">
                <label for="search">Search for stuff</label>
                <input id="search" type="search" placeholder="Search ticker..." name="ticker" autofocus required />
                <button type="submit">Go</button>    
            </form>
        </div>
        <div class="area">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    
</body>
</html>